We need to understand and describe this project better.

Read these files:
- README.md
- Knowledgebase.txt
- Package.swift
- build_fat_binary.sh

Then update README.md so that it matches the following criteria:
- An intro section explaining the purpose and value of the project
- A usage example
- A section on how to install the project
- A section on how to build and test the project